button {
  margin: 5px;
  margin-left: 5%;
}

body {
  background: url("../images/Sports.png");
}

h1 {
  color: white;
  text-align: center;
  margin: 10px;
}

button {
  align-content: center;
}

label {
  color: darkcyan;
  margin-top: 5%;
  margin-left: 55%;
}

.jumbotron {
  background-color: darkcyan;
}

p {
  color: darkcyan;
  margin-left: 30%;
}
